/* Estilo general de la página */
body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    background-color: #f5f0eb;
    color: #333;
}

/* Títulos */
h1, h2, h3 {
    font-family: Georgia, serif;
}

/* Selector de elemento */
header {
    background-color: #8c6f56;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

/* Selector de ID */
#inicio h1 {
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

/* Menú de navegación */
nav {
    background-color: #3f3a36;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 8px;
}

nav a:hover {
    background-color: #8c6f56;
    color: white;
}

/* Contenido principal */
main {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
}

section {
    background-color: white;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

/* Selector de ID */
#sobre-mi {
    text-align: center;
}

/* Imagen */
#sobre-mi img {
    display: block;
    width: 100%;
    max-width: 750px;
    height: auto;
    margin: 20px auto;
    border-radius: 30px;
    box-shadow: 0 8px 20px rgba(63, 58, 54, 0.15);
}

/* Contenedor de las tarjetas */
.contenedor {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* Selector de clase */
.tarjeta {
    background-color: #eee4db;
    padding: 20px;
    border: 2px solid #c8ad98;
    border-radius: 10px;

    /* Modelo de caja */
    margin: 10px;
    width: 30%;
    box-sizing: border-box;
}

.tarjeta h3 {
    color: #6b5140;
}

/* Botón */
button {
    background-color: #8c6f56;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #6b5140;
}

/* Pie de página */
footer {
    background-color: #3f3a36;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 700px) {

    nav a {
        display: block;
        margin: 10px;
    }

    .contenedor {
        flex-direction: column;
    }

    .tarjeta {
        width: 100%;
        margin: 10px 0;
    }

    #inicio h1 {
        font-size: 30px;
    }
}